---
---
body {
    padding: 0;
    margin: 0;
    color: #222222;
    font-family: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen-sans, ubuntu, cantarell, helvetica neue, helvetica, arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-style: normal;
    font-family: Montserrat, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
  }

.row {
    width: 100%;
}

div.container {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
    div.container {
        max-width: 1170px;
    }
    nav {
        float: right;
    }
    nav a:last-child {
        margin-right: 0;
    }
    .card {
        width: 300px !important;
    }
}

@media (max-width: 1200px) {
    header {
        text-align: center;
    }
    .hideOnSmall {
        display: none;
    }
    .logo {
        width: calc(100% - 32px);
        height: auto;
    }
    div.flexible.cols2 > div {
        flex: 1 0 100% !important;
    }
    .formWrapper {
        margin: 50px !important;
    }
    .formWrapper .form-group label {
        margin-left: 5px !important;
    }
}

div.gray {
    background-color: #e9ecef;
}

div.right {
    text-align: right;
}

div.center {
    text-align: center;
}

div.padded {
    padding: 8px;
}

div.paddedx2 {
    padding: 16px;
}

div.paddedx3 {
    padding: 32px;
}

a {
    color: #16181a;
    text-decoration: none;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

a:hover,
a:focus, a.active {
    color: #1f6180;
}

nav a {
    margin: 0 15px 0 15px;
    position: relative;
    font-size: 18px;
}

nav a.active::before {
    background-color: rgb(31, 97, 128);
    bottom: -5px;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: -5px;
    left: -5px;
}

nav {
    padding: 30px 0;
}

.banner {
    background-image: url({{ '/images/coronavirus.webp' | relative_url }});
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: Poppins, sans-serif;
    background-color: #000;
    padding: 20px;
    position: relative;
}

.banner .container {
    position: relative;
}

.banner .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.44;
}

.spaced {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a.button {
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 89%);
    margin: 15px;
    display: inline-block;
    cursor: pointer;
}

a.button:hover {
    background-color: #1f6180;
    color: #fff;
}

div.flexible {
    display: flex;
    flex-wrap: wrap;
}

div.flexible > div {
    flex: 1 0 0;
}

div.flexible.cols2 > div {
    flex: 1 0 50%;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    font-family: Poppins, sans-serif;
    position: relative;
}

h1::first-letter {
    font-size: 5rem;
}

h1::before {
    top: -10px;
    box-sizing: border-box;
    content: "";
    display: block;
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 10px 10px;
    height: 150px;
    position: absolute;
    width: 150px;
    left: -50px;
    opacity: 0.9;
}


h2 {
    color: #1f6180;
    font-size: 2.3rem;
    font-family: Poppins, sans-serif;
    font-weight: 800;
}

h3 {
    font-family: Poppins, sans-serif;
}

.banner h3 {
    font-size: 2.3rem;
}

.card {
    width: 100%;
    background-color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    text-align: center;
}

.card div {
    text-align: left;
    padding: 0 20px 15px 20px;
}

.card h2 {
    margin: 10px 0;
}
.card i {
    color: #1f6180;
    font-size: 48px;
    padding-top: 15px;
}

#goToTop {
    position: sticky;
    height: 0;
    z-index: 100;
    top: calc(100% - 90px);   
}

#goToTop a {
    display: block;
    background: #000;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 16px 20px;
    line-height: 24px;
    width: 30px;
    margin-left: auto;
    margin-right: 30px;
}

.fa-solid.big {
    font-size: 48px;
}

.squareBox {
    text-align: center;
    position: relative;
}

.squareBox::before {
    box-sizing: border-box;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    width: 50%;
    left: 25%;
    border-top: 5px solid #1f6180;
    border-right: 5px solid #1f6180;
    border-left: 5px solid #1f6180;
}
.squareBox::after {
    box-sizing: border-box;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    width: 50%;
    left: 25%;
    border-bottom: 5px solid #1f6180;
    border-right: 5px solid #1f6180;
    border-left: 5px solid #1f6180;
}

.squareBox h2 {
    font-size: 2.3rem;
    font-weight: 800;
    font-family: Poppins, sans-serif;
    color: #000;
}
.white-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.44;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin-top: auto;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
    color:#fff;
}

.blue {
    background-color: #1f6180;
    color: #fff;
    position: relative;
    z-index: 0;
}

.blue::before {
    bottom: 10px;
    box-sizing: border-box;
    content: "";
    display: block;
    background-image: radial-gradient(white 1px, transparent 0);
    background-size: 20px 20px;
    height: 100px;
    position: absolute;
    width: 100%;
    opacity: 0.7;
    z-index: -2;
}
.blue::after {
    bottom: 0;
    box-sizing: border-box;
    content: "";
    display: block;
    background-image: linear-gradient(to top, transparent 0, #1f6180 100%);
    background-size: cover;
    height: 110px;
    position: absolute;
    width: 100%;
    opacity: 1;
    z-index: -1;
}


.blue h1::before {
    background-image: radial-gradient(white 1px, transparent 0);
}

.blue h2 {
    color: white;
    margin: 10px 0 5px 0;
}

.formWrapper {
    background-color: #fff;
    padding: 30px 20px;
    color:#000;
    margin: 50px 110px 0 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 13px 6px;
    margin-bottom: 80px;
}

.formWrapper .form-control:not([type=checkbox]) {
    width: 80%;
    display: block;
    padding: 15px;
    margin: 0px auto;
    font-family: Montserrat, sans-serif;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin-bottom: 15px;
}

.formWrapper textarea {
    resize: none;
}

.formWrapper .form-control:not([type=checkbox]):focus {
    border-color: #1f6180;
    outline: #1f6180 solid 2px;
}

.formWrapper .form-group label {
    margin-left: 35px;
    font-size: 0.8rem;
}

.formWrapper  .error {
    margin: 10px 0;
    text-align: center;
    color: #aa0000;
    font-weight: 600;
}

.formWrapper  .success {
    margin: 10px 0;
    text-align: center;
    color: #1f6180;
    font-weight: 600;
}

#consentModal {
    background-color: #1f6180;
    color: #fff;
    position: fixed;
    bottom: -100%;
    width: 100vw;
    box-sizing: border-box;
    padding: 40px;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}