---
---
<!doctype html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{page.title}} - {%endif%}{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="{{site.title}}">

    <meta property="og:locale" content="es_ES" />
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:image" content="{{ '/favicon.png' | relative_url }}">
    <meta property="og:image:width" content="100" />
	<meta property="og:image:height" content="100" />

    <meta name="msapplication-TileImage" content="{{ '/favicon.png' | relative_url }}" />

    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
    <link rel="apple-touch-icon" href="{{ '/favicon.png' | relative_url }}">

    <link rel="stylesheet" href="{{ '/css/styles.css?v=1.0' | relative_url }}">
    <link rel='stylesheet' id='google-fonts-1-css' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.4.1' type='text/css' media='all' />

    <meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
	<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
	<link rel="canonical" href="{{site.url}}{{site.baseurl}}{{page.url}}" />

</head>

<body>
    <header>
        <div class="row gray">
            <div class="container right padded">
                <a class="phone_link" href="tel:{{site.phone}}">{{site.phone}}</a> / <a href="mailto:{{site.email}}" target="_blank">{{site.email}}</a>
            </div>
        </div>
        <div class="row">
            <div class="container paddedx2">
                <a href="{{ '/' | relative_url }}" rel="home">
                    <img width="408" height="100" src="{{ '/images/logo.png' | relative_url }}" class="logo" alt="Limpiaplus" sizes="(max-width: 408px) 100vw, 408px">
                </a>
                <nav>
                    <a href="{{ '/' | relative_url }}#" {% if page.url == '/' %}class="active"{% endif %}>Inicio</a>
                    {% assign sections = site.sections | sort: "order" %}
                    {% for section in sections %}
                        |
                        <a href="{{ '/' | relative_url }}#{{section.path | remove: "_sections/" | remove: ".html" }}">{{ section.title }}</a>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </header>
    <main>
        {{content}}
    </main>
    <div id="consentModal">
        <div class="center">
        Usamos cookies para mejorar tu experiencia. Si continúas navegando, consideramos que aceptas su uso acorde con nuestra <a href="{{ '/legal/cookies.html' | relative_url }}">Política de cookies</a>.
        </div>
        <div class="center">
            <a class="button" onclick="document.cookie='limpiaplusConsent=true;max-age=31536000';document.dispatchEvent(consentEvent);">Aceptar</a>
        </div>
    </div>
    <footer>
        <div class="container">
            &copy; {{site.title}} {{site.time | date: "%Y"}}
            <div style="float:right">
                {% for legal in site.legal %}
                <a href="{{legal.url | relative_url }}">{{legal.title}}</a>
                {% unless forloop.last %} | {% endunless %}
                {% endfor %}
            </div>
    </footer>
    <script src="https://kit.fontawesome.com/adb72a7aa1.js" crossorigin="anonymous"></script>
    <script id="analyticsLoader">
        document.addEventListener('consent', function () {
            j=document.createElement('script');
            j.async = true;
            j.src="https://www.googletagmanager.com/gtag/js?id=UA-66742317-2";
            document.getElementById('analyticsLoader').parentNode.insertBefore(j,document.getElementById('analyticsLoader'));

            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-66742317-2');
            gtag('config', 'AW-953708620');

            function gtag_report_conversion(url) {
                var callback = function () {
                    console.log('converted')
                };
                gtag('event', 'conversion', {
                    'send_to': 'AW-953708620/sjQJCI-N5dIBEMzg4cYD',
                    'value': 1.0,
                    'currency': 'EUR',
                    'event_callback': callback
                });
                return false;
            }
            function gtag_report_phone_conversion(url) {
                var callback = function () {
                    console.log('phone_converted')
                };
                gtag('event', 'conversion', {
                    'send_to': 'AW-953708620/4PfJCLKN1dIBEMzg4cYD',
                    'event_callback': callback
                });
                return false;
            }
            window.addEventListener("load", function () {
                document.getElementsByClassName("google-form-conversion")[0].addEventListener("click", gtag_report_conversion);
                document.querySelector(".call-now-button").addEventListener("click", gtag_report_phone_conversion);
                document.querySelector(".phone_link").addEventListener("click", gtag_report_phone_conversion);
            });

        })
    </script>
    <script src="{{ '/scripts/scripts.js' | relative_url }}"></script>
</body>

</html>